*{
    box-sizing: border-box;
}

body{
    font-family:arial, helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding:0;
    margin:0;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.Tleft{
    float: left;
    margin: 40px 0 10px 50px;
}

.Tleft h1{
    text-transform: uppercase;
}

.top-header{
    width: 100%;
    background-color: #3c9bc3;
    color: #ffffff;

}
.img img{
    float: right;
    margin-top: 5px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 10px;
}

.item_left{
    float: left;
    width: 33.33%;
    
}

.item_left h3{
    text-transform: uppercase;
    border-bottom: 1px solid #3c9bc3;
}
.item_right{
    float: right;
    width: 66.66%;
    text-align: justify; 
}

.mt{
    margin-top: 40px;
}

.mt-50{
    margin-top: 50px;
}

.box{
    float: right;
}

.container_1{
    background: #f4f4f4;
    height: 100%;
    padding: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form{
    width: 500px;
    height: 100%;
    background: white;
    box-shadow: 0 2px 10px #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
} 

.form .contact-me{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
    color: #fff;
    margin: 0;
    width: 100%;
}
.form form{
    padding: 10px;
    width: 100%;
}

.form form input, textarea{
    width: 100%;
    margin: 10px auto;
    padding: 10px 10px 10px 40px;
    border: 1px solid #43D1AF;
    outline: none;
    border-radius: 5px;
}

.form form textarea{
    font-size: 20px;
}

.button button{
    display: block;
    padding: 10px 30px;
    outline: none;
    background: #43D1AF;
    color: white;
    border-radius: 25px;
    border: none;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .form {
        width: 450px;
    }
}

